.title-1, .title-2 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 60px;
    text-align: center;
    margin: 20px auto;
}


.project-details__cover{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.project-details__cover img {
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 5px 35px rgb(0 0 0 / 25%);
    max-width: 100%;
}


.project-details__desc {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 30px;
    text-align: justify;
}

.btn-outline {
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 5px 35px rgb(0 0 0 / 25%);
    border-radius: 5px;
    color: #000;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    display: flex;
    height: 48px;
    max-width: 184px;
    padding: 12px 20px;
    transition: opacity .2s ease-in;
}